
    <nav class="navbar navbar-expand-lg  navbar-light"  style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="{% url 'index' %}"><i>DEV</i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'post-list' %}">Blog</a>
      </li>

        <form class="form-inline my-2 my-lg-0 m-5" action="{% url 'post-list' %}">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
          <button class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </ul>

    <ul class="navbar nav">
        {% if request.user.is_authenticated %}
        <li class="nav-item">
            <span>Hi {{ request.user | capfirst }}</span>
            {% if request.user.profile.photo %}
            <img src="{{ request.user.profile.photo.url }}"
                 style="width: 30px;
                        height: 35px;
                        float: left;
                        background-size: auto 100%;
                        margin-top: -5px;
                        margin-right: 5px;"
                 class="navbar-img">
            {% else %}
            <img src="/media/avatars.png"
            style="width: 30px;
                   height: 35px;
                   float: left;
                   background-size: auto 100%;
                   margin-top: -5px;
                   margin-right: 5px;"
           class="navbar-img">
            {% endif %}
            &nbsp;
        <li class="nav-item dropdown">
          <a class=" btn btn-sm btn-ouline-infonav-link dropdown-toggle w3-text-teal w3-hover-text-black" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Profile
          </a>
           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
             <a href="{% url 'edit-profile' %}" class="btn btn-sm btn-outline-secondary w3-text-black w3-hover-text-white m-1">My Profile</a>
             <a href="{% url 'post-create' %}" class="btn btn-sm btn-outline-secondary w3-text-black w3-hover-text-white m-1">Create Post</a>
           </div>
         </li>
        <li>
            &nbsp;
            <a href="{% url 'user-logout' %}" class="btn btn-sm btn-outline-warning w3-text-teal w3-hover-text-black">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a href="{% url 'user-login' %}" class="btn btn-sm btn-outline-warning w3-text-teal w3-hover-text-black">Login</a>
        </li>
        &nbsp;
        <li class="nav-item">
            <a href="{% url 'register' %}" class="btn btn-sm btn-outline-warning w3-text-teal w3-hover-text-black">Signup</a>
        </li>
        {% endif %}
    </ul>

    </div>
</nav>
